<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.obrhoff.launchbar.vlc</string>
	<key>CFBundleName</key>
	<string>Open YouTube in VLC</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>CFBundleIconFile</key>
	<string>org.videolan.vlc</string>
	<key>LBDebugLogEnabled</key>
	<true/>
	<key>LBRequiredApplication</key>
	<string>org.videolan.vlc</string>
	<key>LBAssociatedApplication</key>
	<string>org.videolan.vlc</string>
	<key>LBScripts</key>
	<dict>
		<key>LBDefaultScript</key>
		<dict>
			<key>LBScriptName</key>
			<string>default.scpt</string>
			<key>LBRunInBackground</key>
			<true/>
			<key>LBRequiresArgument</key>
			<false/>
			<key>LBReturnsResult</key>
			<false/>
		</dict>
	</dict>
	<key>LBDescription</key>
	<dict>
		<key>LBSummary</key>
		<string>Open YouTube Video in VLC</string>
		<key>LBAuthor</key>
		<string>Dennis Oberhoff</string>
		<key>LBEmail</key>
		<string>dennisoberhoff@gmail.com</string>
		<key>LBWebsite</key>
		<string>https://github.com/docterd</string>
		<key>LBTwitter</key>
		<string>@docterd</string>
		<key>LBResult</key>
		<string>VLC Video</string>
	</dict>
</dict>
</plist>
